- content_for :page_title do
  Edit Snap

.row
  .col.s12
    = link_to "Show", @snapshot, class: "btn"
    \#{link_to 'Back', snapshots_path, class: "btn"}

.container
  .row
    .col.s12
      = render 'form'
